name: CI

on:
  push:
  pull_request:

jobs:
  c:
    name: C
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/c
    steps:
      - uses: actions/checkout@v4
      - name: Install uftrace
        run: |
          sudo apt-get update
          sudo apt-get install lld uftrace
      - uses: mkroening/rust-toolchain-toml@main
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: make
      - name: Run
        run: |
          mkdir tracedir
          ./test
      - name: Replay
        run: uftrace replay --data=tracedir --output-fields=tid | tee ci.snap
      - name: Compare to snapshot
        run: diff ci.snap out.snap

  rust:
    name: Rust
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/rust
    steps:
      - uses: actions/checkout@v4
      - name: Install uftrace
        run: |
          sudo apt-get update
          sudo apt-get install lld uftrace
      - uses: mkroening/rust-toolchain-toml@main
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo rustc -- -Zinstrument-mcount -C passes="ee-instrument post-inline-ee-instrument" -C link-arg=-fuse-ld=lld
      - name: Run
        run: |
          mkdir tracedir
          ../../target/debug/rftrace-rs-test
      - name: Replay
        run: uftrace replay --data=tracedir --output-fields=tid | tee ci.snap
      - name: Compare to snapshot
        run: diff ci.snap out.snap
